* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

nav {
    max-width: 50%;
    margin: 10% auto;
}

.multi_drop_menu {
    font: 1em helvetica, arial, sans-serif;
}

.multi_drop_menu a {
    display: block;
    color: #555;
    background-color: #eee;
    padding: .2em 1em;
    border-width: 3px;
    border-color: transparent;
    transition: background-color 1s ease;
}

.multi_drop_menu li:hover>a {
    color: #fff;
    background-color: #aaa;
}

.multi_drop_menu a:active {
    background: #fff;
    color: #ccc;
}

.multi_drop_menu ul {
    float: left;
}

.multi_drop_menu li {
    float: left;
    list-style-type: none;
    position: relative;
}

.multi_drop_menu li a {
    display: block;
    border-right-style: solid;
    background-clip: padding-box;
    text-decoration: none;
}

.multi_drop_menu li:last-child a {
    border-right-style: none;
}

.multi_drop_menu li ul {
    display: none;
    width: 9em;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.multi_drop_menu li li a {
    border-right-style: none;
    border-top-style: solid;
}

.multi_drop_menu li li {
    float: none;
}

.multi_drop_menu li li ul {
    display: none;
    position: absolute;
    left: 102%;
    top: 0;
}

.multi_drop_menu li:hover>ul {
    display: block;
}

.vertical {
    width: 8em;
}

.vertical li a {
    border-right-style: none;
    border-top-style: solid;
}

.vertical li li a {
    border-left-style: solid;
}

.vertical li,
.vertical ul {
    float: none;
}

.vertical li ul {
    left: 100%;
    top: 0;
}

.vertical li li ul {
    left: 100%;
}